@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html, body {
    margin: 0;
    padding: 0;
    background-color: #0b1513;
    color: #dae5e1;
  }
  body {
    overscroll-behavior: none;
  }
}

/* Custom scrollbars */
::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

::-webkit-scrollbar-track {
  background: #06100e;
}

::-webkit-scrollbar-thumb {
  background: #222c2a;
  border-radius: 3px;
}

::-webkit-scrollbar-thumb:hover {
  background: #3d4948;
}

.material-symbols-outlined {
  font-variation-settings:
    'FILL' 0,
    'wght' 400,
    'GRAD' 0,
    'opsz' 24;
  user-select: none;
}
